* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url(/src/assets/images/background.png) no-repeat ;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
